-e git://github.com/mvasilkov/Unipath.git#egg=Unipath
-e git://github.com/mvasilkov/django-browserid.git#egg=django-browserid
Django
dj-database-url
django-annoying
django-extensions
django-mptt
mmh3
psycopg2
