@fonts: Segoe UI, PT Sans, Helvetica Neue, FreeSans, sans-serif;
@main-bg: #fff;
@main-color: #3a4145;
@navbar-bg: @main-bg;
@navbar-width: 150px;
@active-color: #ff2d55;
@active-bg: lighten(@active-color, 40%);

body {
    background: @main-bg;
    color: @main-color;
    font: 1em @fonts;
}

.container {
    padding-left: @navbar-width;
}

.page {
    padding: 0 20px;
}

/* navbar */
.navbar {
    background: @navbar-bg;
    bottom: 0;
    left: 0;
    position: fixed;
    top: 0;
    width: @navbar-width;
}

.pure-menu.pure-menu-open {
    background: @navbar-bg;
    border: 0;
}

.pure-menu li {
    margin-bottom: -1px;
}

.pure-menu a {
    border-right: 1px solid transparent;
    color: @active-color;
}

.pure-menu li.goto-10 a {
    border-top: 0;
    padding-top: 1em;
}

.pure-menu li a:hover,
.pure-menu li a:focus {
    background: @active-bg;
    border-color: @active-color;
}

.pure-menu li a.active,
.pure-menu li a:active {
    background: @active-color;
    border-color: @active-color;
    color: @navbar-bg;
}
