{% extends 'base.html' %}
{% load browserid %}
{% load ib_tags %}

{% block styles %}
    {{ block.super }}
    {% browserid_css %}
{% endblock %}

{% block scripts %}
    {{ block.super }}
    {% browserid_js %}
{% endblock %}

{% block main %}
    <div class="pure-menu pure-menu-open">
        <a class=pure-menu-heading href=/>rarjpeg</a>
        {% public_boards %}
    </div>
    {% if user.is_authenticated %}
        {% browserid_logout %}
    {% else %}
        {% browserid_login %}
    {% endif %}
    <p>rarjpeg</p>
{% endblock %}
